/* Force position of canvasJS zoom/pan buttons */
.canvasjs-chart-toolbar {
    left: 0 !important;
    right: auto !important;    
}

.content {overflow:hidden;}   /* Suppress scroll bars */

*:not(i, code, button, span, a) {
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 16px;
  line-height: 1.4;
}

body, html {
  height: 100%;
  overflow-y:hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  /* Nearly full viewport height to leave border: */
  height: 98vh;   
  width: 98vw; 
  /* Center content in window: */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* unused
.top-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 10px auto;
}
*/ 

.side-button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;                /* gap between buttons */
  width: 100px;
  margin: 10px auto;
}

/* unused????
.buttons {
  display: flex;
  gap: 10px;
}
*/

.chart-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 20px;   /* Space between rows */
}

.chart-row {
  display: flex;
  flex-grow: 1;
  width: 100%;
  gap: 20px;   /* Space between columns */
}

.chart {
  display: flex;
  /*height: 270px;*/
  width: 50%;
  outline: 2px solid gray;
  background-color: #ebebeb;
}

.log-image-container {
  display: flex;
  flex-direction: column;
  max-height: 50%;
  margin-top: 20px;
}

.log-image-row {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  width: 100%;
  /*min-height: 250px;*/
  gap: 20px;   /* Space between columns */
}

.image {
  flex: 1;  
  max-width: 640px;
  /*max-height: 480px;*/
  max-height: 30vh;
  height: 100%;
  width: 50%;
  outline: 2px solid gray;
  background-color: #ebebeb;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: zoom-in;
}

.log {
  flex: 1;
  flex-shrink: 1;
  min-height: 20vh;
  max-height: 30vh;
  overflow-wrap: break-word;
  overflow-y: scroll; /* Enable vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  outline: 2px solid gray;
  background-color: #ebebeb;
  font-size: 12px;
}



.button {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 14px;
  height: 25px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.button:active {
  outline: 0;
}

.button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.button:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}


/* Nofication window for displaying assay info in temporary window */
.notification-window {
    width: 300px;
    height: 120px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    resize: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.notification-content {
    text-align: center;
    color: white;
}
